body
{
    background-color: khaki;
}

.navBar
{
    background-color: lightgray;
    border: 1px solid black;
    margin-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.mainMenu {
    list-style-type: none;  
    overflow-x: none;
    background-color: lightgray;
    height: 80px;
}

.subnav {
    display: block;
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 35px;
}


a {
    background-color: gray;
    padding-right:15px;
    padding-left:15px;
}

a:hover {
    background-color: goldenrod;
}

h1 {
    text-align:center;
    font-size: 50px;
}

h2 {
    text-align: center;
}


#cell1
{
    grid-area: cell1;
    border: 1px solid black;
    background-color: lightgray;
}

#cell1:hover
{
    background-color: gray;
}

#cell2
{
    grid-area: cell2;
    border: 1px solid black;
    background-color: lightgray;
}

#cell2:hover
{
    background-color: gray;
}

#cell3
{
    grid-area: cell3;
    border: 1px solid black;
    background-color: lightgray;
}

#cell3:hover
{
    background-color: gray;
}

.menuImage
{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainPage
{
    display: grid;
    grid-template-areas: 'cell1 cell2 cell3';
    gap: 20px;
}

.subheading
{
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

p
{
    text-align: center;
}


table
{
    border: 1px solid black;
    background-color: lightgray;
    margin-left: 35%;
    margin-right: 35%;
}

th
{
    font-size: 30px;    
    padding: 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

td
{
    padding: 20px;
    text-align: center;
    border-bottom: 1px dashed black;
    border-right: 1px dashed black;
}

#scoreTableName
{
    font-size: 20px;
    text-decoration-style: bold;
}

.tableButtons
{
    text-align: center;
}

